<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ahp -->
      <package
            uri="http://www.example.org/ahp"
            class="ahp.AHPPackage"
            genModel="model/ahp.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
         type="ahp"
         class="ahp.AHPResourceFactory">
      </parser>
   </extension>

</plugin>
