<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated ahp -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="ahp.presentation.AHPModelWizardID"
            name="%_UI_AHPModelWizard_label"
            class="ahp.presentation.AHPModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/AHPModelFile.gif">
         <description>%_UI_AHPModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated ahp -->
      <editor
            id="ahp.presentation.AHPEditorID"
            name="%_UI_AHPEditor_label"
            icon="icons/full/obj16/AHPModelFile.gif"
            extensions="ahp"
            class="ahp.presentation.AHPEditor"
            contributorClass="ahp.presentation.AHPActionBarContributor">
      </editor>
   </extension>

</plugin>
